section {
    .experiences {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;

        li {
            @include alignChildren (flex-start, center);
            margin-bottom: 2rem;

            .date {
                font-family: $font4;
                height: 100%;
                font-size: 1.5rem;
                @include alignChildren (center, center);
                min-width: 8rem;
                height: 100%;
                padding: 1rem;
            }

            .accordion {
                @include alignChildren (center, flex-start);
                padding: 1.5rem 2rem;
                width: 100%;
                max-width: 50rem;

                h4 {
                    margin-right: 2rem;
                }

                p {
                    font-size: 1rem;
                    font-family: $font3;
                }
            }

        }
    }

    a {
        width: fit-content;
        margin: 0 auto;
    }
}


// *****************Mobile***************** // 
@media screen and (max-width: 975px) {

    section {
        .experiences {
            display: grid;
            grid-template-columns: 1fr;
            margin-bottom: 2rem;

            li {
                @include alignChildren (center, center);
                flex-direction: column;
                margin-bottom: 1.5rem;

                .date {
                    width: 100%;
                    border-bottom: 0
                }

                .accordion {
                    @include alignChildren (flex-start, center);
                    flex-direction: column;
                    max-width: none;

                    p {
                        margin-top: 0.5rem;

                    }
                }
            }
        }
    }
}