section {
    .skills-informations {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        margin-bottom: 3rem;

        .img-skills {
            height: 100%;
            width: 100%;

            img {
                width: 140%;
            }
        }

        .text-skills {
            background-color: $color2;
            padding: 2rem;
            grid-column: 2/4;

            p {
                margin: 1rem 0 2rem;
            }
        }
    }

    .skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 3rem;
        text-align: center;

        div {
            background-color: $color2;

            h4 {
                padding: 1.5rem;
                border-bottom: 2px solid $color3;
            }

            ul {
                padding: 1.5rem;

                li {
                    margin: 1rem;

                    a {
                        font-size: 1.2rem;
                        font-family: $font2;
                        text-transform: capitalize;
                        color: $color1;
                        text-decoration: underline;
                        text-underline-offset: 7px;

                        &:hover {
                            color: $color5;
                        }
                    }

                    span {
                        font-size: 1.2rem;
                        font-family: $font2;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1130px) {

    section {
        .skills-informations {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 0;
            margin-bottom: 1.5rem;
            transform: translateY(-5%);
        
            .img-skills {
                height: 20rem;
                width: 20rem;
                transform: translateY(25%);

                img {
                    width: 100%;
                }
            }

            .text-skills {
                background-color: $color2;
                padding: 2rem;
                grid-column: 1/2;
                z-index: 1;

                p {
                    margin: 1rem 0 2rem;
                }
            }
        }

        .skills {
            grid-gap: 1.5rem;
            grid-column: 1/2;
            grid-template-columns: 1fr;

            div {

                ul {
                    padding: 1rem;

                    li {
                        margin: 1rem 0;
                    }
                }
            }
        }
    }
}