*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "montserrat-regular";
  src: url("../assets/font/montserrat-regular.ttf");
}
@font-face {
  font-family: "montserrat-medium";
  src: url("../assets/font/montserrat-medium.ttf");
}
@font-face {
  font-family: "montserrat-bold";
  src: url("../assets/font/montserrat-bold.ttf");
}
@font-face {
  font-family: "orbitron-bold";
  src: url("../assets/font/orbitron-bold.ttf");
}
main {
  margin: 0 auto;
}

.body-overflow {
  overflow-y: hidden;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.bg-black {
  background-color: #282A2C;
  color: #FEFEFD;
}

.bg-white {
  background-color: #FEFEFD;
  color: #282A2C;
}

.padding-section {
  padding: 6rem 12rem;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: orbitron-bold, sans-serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

h1,
h2 {
  color: #FEFEFD;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

h1 {
  font-family: montserrat-bold, sans-serif;
  font-size: 4rem;
}

h2 {
  font-family: montserrat-regular, sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

p {
  font-size: 16px;
  font-family: montserrat-medium, sans-serif;
  line-height: 24px;
}

.title-section {
  text-align: center;
  margin-bottom: 5rem;
}

.title-section h3,
.title-section span {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  font-family: orbitron-bold, sans-serif;
  font-size: 4rem;
}

.title-section h3 {
  margin: 1rem 0;
}

.title-section span {
  color: #ED622B;
}

.title-section p {
  text-transform: uppercase;
  font-family: montserrat-regular, sans-serif;
  font-size: 1.75rem;
}

.box-shadow {
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}

.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.border-white {
  border: 2px solid #B7B7B7;
}

.border-black {
  border: 2px solid #4C4D4F;
}

.circle {
  min-height: 1rem;
  min-width: 1rem;
  background-color: #ED622B;
  border-radius: 100%;
  margin-right: 2rem;
}

@media screen and (max-width: 1300px) {
  .padding-section {
    padding: 6rem 4rem;
  }
  .title-section h3,
.title-section span {
    font-size: 3.5rem;
  }
  .title-section p {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 750px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  .padding-section {
    padding: 4rem 1.5rem;
  }
  .title-section h3,
.title-section span {
    font-size: 2.2rem;
  }
  .title-section p {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.2rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  .padding-section {
    padding: 4rem 1.5rem;
  }
  .title-section h3,
.title-section span {
    font-size: 2.2rem;
  }
  .title-section p {
    font-size: 1.2rem;
  }
  .circle {
    min-height: 0.8rem;
    min-width: 0.8rem;
    margin-right: 1.5rem;
  }
}
header.padding-header .herobanner {
  display: grid;
  grid-template-columns: 70% 30%;
  height: 100vh;
  align-items: center;
}
header.padding-header .herobanner .text-presentation h1 span {
  font-family: montserrat-regular, sans-serif;
  font-size: 3rem;
}
header.padding-header .herobanner .text-presentation h2 {
  margin: 2rem 0;
}
header.padding-header .herobanner .text-presentation p {
  margin: 1rem 0;
}
header.padding-header .herobanner .text-presentation a {
  margin-top: 3rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
header.padding-header .herobanner .text-presentation .job {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header.padding-header .herobanner-img {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
header.padding-header .herobanner-img img {
  width: 70%;
}

@media screen and (max-width: 1200px) {
  header.padding-header .herobanner {
    grid-template-columns: 1fr;
  }
  header.padding-header .herobanner .text-presentation h1 span {
    font-size: 2.5rem;
  }
  header.padding-header .herobanner .text-presentation h2 {
    margin: 2rem 0;
  }
  header.padding-header .herobanner-img {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  header.padding-header .herobanner .text-presentation h1 {
    margin-bottom: 1.5rem;
  }
  header.padding-header .herobanner .text-presentation h1 span {
    font-size: 2rem;
  }
  header.padding-header .herobanner .text-presentation h2 {
    margin: 1rem 0;
  }
  header.padding-header .herobanner .text-presentation a {
    margin: 2rem auto 0;
  }
}
section .project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 5rem;
  background-color: #FEFEFD;
}
section .project .presentation-project {
  background-color: #FEFEFD;
  border-right: 2px solid #4C4D4F;
}
section .project .presentation-project h4 {
  width: 100%;
  padding: 2rem;
  border-bottom: 2px solid #4C4D4F;
}
section .project .presentation-project .description-project {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  height: calc(100% - 106px);
}
section .project .presentation-project .description-project .technologie span {
  text-transform: uppercase;
  font-family: orbitron-bold, sans-serif;
  padding: 5px 15px;
  border-radius: 20px;
  border: 2px solid #4C4D4F;
  margin-right: 2rem;
}
section .project .presentation-project .description-project p {
  margin: 2rem 0;
}
section .project .presentation-project .description-project p span {
  font-weight: 900;
}
section .project .presentation-project .description-project .btn-project {
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
section .project .presentation-project .description-project .btn-project .rounded-btn {
  position: absolute;
  left: -30%;
}
section .project .img-project {
  background-image: url("../assets/img/coffeeroasters.jpg");
  width: 100%;
  height: 30rem;
}

@media screen and (max-width: 1030px) {
  section .project {
    grid-template-columns: 1fr;
    margin-bottom: 3rem;
  }
  section .project .presentation-project {
    border-bottom: 2px solid #4C4D4F;
    border-right: none;
  }
  section .project .presentation-project .description-project p {
    margin: 3rem 0;
  }
  section .project .img-project {
    height: 25.5rem;
  }
}
@media screen and (max-width: 750px) {
  section .project .presentation-project h4 {
    width: 100%;
    padding: 1.5rem;
    border-bottom: 2px solid #4C4D4F;
  }
  section .project .presentation-project .description-project {
    padding: 1.5rem;
  }
  section .project .presentation-project .description-project .technologie span {
    margin-right: 1.2rem;
  }
}
section .skills-informations {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin-bottom: 3rem;
}
section .skills-informations .img-skills {
  height: 100%;
  width: 100%;
}
section .skills-informations .img-skills img {
  width: 140%;
}
section .skills-informations .text-skills {
  background-color: #282A2C;
  padding: 2rem;
  grid-column: 2/4;
}
section .skills-informations .text-skills p {
  margin: 1rem 0 2rem;
}
section .skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  text-align: center;
}
section .skills div {
  background-color: #282A2C;
}
section .skills div h4 {
  padding: 1.5rem;
  border-bottom: 2px solid #B7B7B7;
}
section .skills div ul {
  padding: 1.5rem;
}
section .skills div ul li {
  margin: 1rem;
}
section .skills div ul li a {
  font-size: 1.2rem;
  font-family: montserrat-medium, sans-serif;
  text-transform: capitalize;
  color: #FEFEFD;
  text-decoration: underline;
  text-underline-offset: 7px;
}
section .skills div ul li a:hover {
  color: #ED622B;
}
section .skills div ul li span {
  font-size: 1.2rem;
  font-family: montserrat-medium, sans-serif;
}

@media screen and (max-width: 1130px) {
  section .skills-informations {
    grid-gap: 1.5rem;
    margin-bottom: 1.5rem;
  }
  section .skills {
    grid-gap: 1.5rem;
  }
  section .skills div ul {
    padding: 1rem;
  }
  section .skills div ul li {
    margin: 1rem 0;
  }
}
@media screen and (max-width: 935px) {
  section .skills-informations {
    grid-template-columns: 1fr;
  }
  section .skills-informations .img-skills {
    display: none;
  }
  section .skills-informations .text-skills {
    grid-column: 1/2;
  }
  section .skills {
    grid-template-columns: 1fr;
  }
}
section .experiences {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
}
section .experiences li {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 2rem;
}
section .experiences li .date {
  font-family: orbitron-bold, sans-serif;
  height: 100%;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 8rem;
  height: 100%;
  padding: 1rem;
}
section .experiences li .accordion {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 1.5rem 2rem;
  width: 100%;
  max-width: 50rem;
}
section .experiences li .accordion h4 {
  margin-right: 2rem;
}
section .experiences li .accordion p {
  font-size: 1rem;
  font-family: montserrat-bold, sans-serif;
}
section a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

@media screen and (max-width: 975px) {
  section .experiences {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
  }
  section .experiences li {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1.5rem;
  }
  section .experiences li .date {
    width: 100%;
    border-bottom: 0;
  }
  section .experiences li .accordion {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    max-width: none;
  }
  section .experiences li .accordion p {
    margin-top: 0.5rem;
  }
}
footer {
  padding: 3rem 12rem;
}
footer .wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}
footer .credits {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
footer .credits p {
  text-transform: uppercase;
}
footer div:nth-child(2n) {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer div:nth-child(2n) a {
  justify-self: stretch;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
footer .back-to-top {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
}

@media screen and (max-width: 1300px) {
  footer {
    padding: 3rem 4rem;
  }
}
@media screen and (max-width: 750px) {
  footer {
    padding: 1rem 2rem;
  }
  footer .wrapper {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    text-align: center;
  }
  footer .wrapper div {
    margin: 0 auto;
  }
  footer .wrapper .btn {
    margin: 1rem 0;
  }
}
header {
  padding: 1rem 12rem;
}
header .wrapper {
  height: calc(100vh - 2rem);
  display: flex;
  align-items: space-between;
  justify-content: center;
  flex-direction: column;
}
header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header nav ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
header nav ul li a {
  color: #FEFEFD;
  margin-right: 2rem;
  font-size: 1rem;
  font-family: montserrat-medium, sans-serif;
  position: relative;
  overflow: hidden;
  height: 60px;
  letter-spacing: 0.5px;
}
header nav ul li a::before {
  content: "";
  background-color: #FEFEFD;
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 10px;
  transition: 200ms ease-in-out;
}
header nav ul li a::before {
  left: -100%;
}
header nav ul li a:hover::before {
  left: 0;
}
header nav ul li a.contact {
  margin-right: 0;
}
header nav ul li a.contact::before {
  position: unset;
}
header nav .burger-menu {
  display: none;
}

@media screen and (max-width: 1750px) {
  header {
    padding: 1rem 4rem;
  }
}
@media screen and (max-width: 1200px) {
  header {
    height: 100vh;
    padding: 2rem;
  }
  header .top-nav {
    padding-bottom: 1rem;
    border-bottom: 2px solid #B7B7B7;
    position: fixed;
    padding: 1rem 2rem;
    left: 0;
    top: 0;
    background-color: #262525;
    z-index: 5;
  }
  header .top-nav .nav {
    position: fixed;
    height: calc(100vh - 64px);
    width: 100vw;
    background-color: #282A2C;
    bottom: 0;
    left: 0;
    transform: translate(100%);
    transition: 300ms;
  }
  header .top-nav .nav.open {
    transform: translate(0);
    transition: 300ms;
  }
  header .top-nav .nav li {
    flex-direction: column;
    margin: 0 auto;
  }
  header .top-nav .nav li a {
    margin: 1rem 0;
    font-size: 1.6rem;
  }
  header .top-nav .burger-menu {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    cursor: pointer;
  }
  header .top-nav .burger-menu #burger {
    width: 1.5rem;
    height: 2px;
    background: #ED622B;
    display: inline-block;
    position: relative;
  }
  header .top-nav .burger-menu #burger::before, header .top-nav .burger-menu #burger::after {
    content: "";
    width: 2rem;
    height: 2px;
    background: #ED622B;
    display: inline-block;
    position: absolute;
    transform-origin: center;
    transition: all 0.3s ease;
  }
  header .top-nav .burger-menu #burger::before {
    top: -8px;
  }
  header .top-nav .burger-menu #burger::after {
    top: 8px;
  }
  header .top-nav .burger-menu #burger.open {
    background: transparent;
  }
  header .top-nav .burger-menu #burger.open::before {
    transform: rotate(45deg);
    top: 0;
  }
  header .top-nav .burger-menu #burger.open::after {
    transform: rotate(-45deg);
    top: 0;
  }
  .bottom-nav {
    justify-content: flex-end;
  }
  .bottom-nav ul {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .bottom-nav {
    display: none;
  }
}
a {
  text-decoration: none;
  font-size: 1.2rem;
  font-family: orbitron-bold, sans-serif;
  text-transform: uppercase;
  color: #ED622B;
  border-radius: 10px;
  transition: 300ms;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

.logo {
  font-weight: 900;
  font-family: orbitron-bold, sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
}

.rounded-btn {
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
}
.rounded-btn:hover {
  color: #FEFEFD;
  background-color: #ED622B;
  transition: 300ms;
}
.rounded-btn i {
  width: 100%;
  height: 100%;
  font-size: 2.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 15px 25px;
  height: 3rem;
}
.btn:hover {
  color: #FEFEFD;
  background-color: #ED622B;
  transition: 300ms;
}
.btn.btn-contact {
  margin-top: 4rem;
  font-size: 3rem;
  padding: 3rem;
}
.btn i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  font-size: 1.3rem;
}

.back-to {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: end;
}
.back-to span {
  font-family: montserrat-medium, sans-serif;
  text-transform: uppercase;
}
.back-to a {
  margin-left: 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.back-to a i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.8rem;
  width: 2.8rem;
  font-size: 1.2rem;
  padding: 0.8rem;
  border: #FEFEFD 2px solid;
  border-radius: 5px;
  background-color: #282A2C;
  color: #ED622B;
  cursor: pointer;
  transition: 300ms;
}
.back-to a i:hover {
  background-color: #ED622B;
  color: #FEFEFD;
  transition: 300ms;
}

@media screen and (max-width: 1200px) {
  .back-to {
    display: none;
  }
}
@media screen and (max-width: 875px) {
  a {
    font-size: 1rem;
  }
  .btn {
    padding: 10px 15px;
  }
  .btn.btn-contact {
    font-size: 1.2rem;
    padding: 2rem;
  }
  .btn i {
    font-size: 1.1rem;
  }
}/*# sourceMappingURL=index.css.map */