header {
    padding: 1rem 12rem;

    .wrapper {
        height: calc(100vh - 2rem);
        @include alignChildren (space-between, center);
        flex-direction: column;
    }

    nav {
        width: 100%;
        @include alignChildren(center, space-between);

        ul {
            @include alignChildren(center, flex-start);

            li {
                @include alignChildren(center, flex-start);

                a {
                    color: $color1;
                    margin-right: 2rem;
                    font-size: 1rem;
                    font-family: $font2;
                    position: relative;
                    overflow: hidden;
                    height: 60px;
                    letter-spacing: 0.5px;


                    &::before {
                        content: '';
                        background-color: $color1;
                        height: 2px;
                        width: 100%;
                        position: absolute;
                        bottom: 10px;
                        transition: 200ms ease-in-out;
                    }

                    &::before {
                        left: -100%;
                    }

                    &:hover::before {
                        left: 0;
                    }

                    &.contact {
                        margin-right: 0;

                        &::before {
                            position: unset;
                        }
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 1750px) {
    header {
        padding: 1rem 4rem;
    }
}

// *********TABLETTE**********/

@media screen and (max-width: 1200px) {

    header {
        padding: 1rem 2rem;

        nav {
            padding-bottom: 1rem;
            border-bottom: 2px solid $color3;

            .nav-desktop {
                display: none;
            }
        }
    }

    .bottom-nav {
        justify-content: flex-end;

        ul {
            display: none;
        }
    }
}


// *********MOBILE**********/

@media screen and (max-width: 700px) {

    .bottom-nav {
        display: none;
    }
}